<footer>
  <div class="container">
    <center>
      <p>&copy; 2015 Agriply, Inc. &middot; 
        <% if( language === 'en' || language === undefined) { %>
        <a class="link" href="/language/ph">Translate in Filipino</a> 
        <% } else { %>
        <a class="link" href="/language/en">Isalin sa Ingles</a> 
        <% } %>
        <%if (user.userLevel < 3) { %>
        &middot; <a class="link" href="/user/<%= user.id %>"><%= __('Access your Account') %></a>
        &middot; <a class="link" href="/user/logout"><%= __('Logout') %></a>
        <% } %>
        &middot; <a class="link" href="/about"><%= __('How It Works') %></a> &middot; <a class="link" href="/advocacy"><%= __('About Us') %></a></p>
    </center>
  </div>
</footer>
