<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><strong class="logostrong">agri</strong>ply</a>
      <a class="browse-button" href="/question/browse"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/question/browse"><%= __('Browse') %></a></li>
        <li><a href="/about"><%= __('How It Works') %></a></li>
        <li><a href="/advocacy"><%= __('About Us') %></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="/question/browse" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" name="keyword" placeholder="Search topics...">
        </div>
        <button type="submit" class="btn btn-1"><%= __('search') %></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if (user.userLevel > 2) { %>
          <li><a href="/user/login"><%= __('Log-in') %></a></li>
          <li><a href="/user/signup"><%= __('Sign-up') %></a></li>
        <% } else { %>
          <% if (user.firstName) { %>
            <li><a href="/user/<%= user.id %>"><%= user.firstName %></a></li>
          <% } else { %>
            <li><a href="/user/<%= user.id %>"><%= user.username %></a></li>
          <% } %>
          <li><a href="/user/logout">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
