<%- partial('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>User Login</h3>
      <form role="form" action="/user/login" method="POST" class="form-style">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" placeholder="Username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-1">Log-in</button>
      </form>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>