<%- partial('partials/header') %>

<div class="color-bg margin-t-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-12 margin-t">
        <h2 class="sub-heading-text"><%= __('Do you want to help a stranger today?') %></h2>
        <h2 class="index-text"><%= __('Anyone can ask and answer a question and browse through the growing information available in this site.') %></h2>
      </div>
    </div>
    <br />
    <div class="spacer"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 margin-t">
      <h2 class="sub-heading-text txt-1"><%= __('Got questions? Ask or Find them here.') %></h2>
      <h2 class="index-text"><%= __('It\'s as easy as 1 2 3.') %></h2>
      
      <a class="btn btn-lg btn-2 btn-width margin-t-sm" href="/user/preference?action=ask"><%= __('Ask a question') %> &raquo;</a>
    </div>
  </div>
  <br />
  <div class="spacer"></div>
</div>

<div class="color-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 margin-t">
        <h2 class="sub-heading-text"><%= __('Browse and contribute to the Agriply community by answering questions') %></h2>
        <h2 class="index-text"><%= __('Click any tags, search for keywords or check recent questions and checkout if you can help them, too!') %></h2>
        
        <a class="btn btn-lg btn-3 btn-width margin-t-sm" href="/user/preference?action=contribute"><%= __('Answer questions') %> &raquo;</a>
      </div>
    </div>
    <br />
    <div class="spacer"></div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12 margin-t">
      <h2 class="sub-heading-text txt-1"><%= __('Give feedback') %></h2>
      <h2 class="index-text"><%= __('Help improve the Agriply community by providing feedback (through the upvote/downvote feature) on the answers. You can also flag questions/anwers as hidden if you think they are inappropriate.') %></h2>
    </div>
  </div>
  <br />
  <div class="spacer"></div>
</div>

<div class="color-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 margin-t">
        <h2 class="sub-heading-text"><%= __('Update your profile for a better experience!') %></h2>
        <h2 class="index-text"><%= __('Sign-up today and receive SMS alerts for you to know when someone answers your question!') %></h2>
        
        <a class="btn btn-lg btn-3 btn-width margin-t-sm" href="/user/signup"><%= __('Join today') %> &raquo;</a>
      </div>
    </div>
    <br />
    <div class="spacer"></div>
  </div>
</div>

<%- partial('partials/footer') %>
