<%- partial('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-12 margin-t">
      <h2 class="sub-heading-text txt-1"><%= __('Agriply\'s mission is to connect experts, smallholder farmers and homemakers and enthusiasts passionate about agriculture and livelihood.') %></h2>
      <h2 class="index-text"><%= __('Agriply will help with the development of best practices, promote mutual learning between experts and workers, spread information more efficiently, fast and to masses and create more awareness about available solutions and innovations in agriculture.') %></h2>
    </div>
  </div>
  <br />
  <div class="spacer"></div>
</div>

<div class="color-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 margin-t">
        <h2 class="sub-heading-text"><%= __('Help a stranger today and share your knowledge.') %></h2>
        <h2 class="index-text"><%= __('Agriply will help with the development of best practices, promote mutual learning between experts and workers, spread information more efficiently, fast and to masses and create more awareness about available solutions and innovations in agriculture.') %></h2>
      </div>
    </div>
    <br />
    <div class="spacer"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 margin-t">
      <h2 class="sub-heading-text txt-1"><%= __('Find answers fast.') %></h2>
      <h2 class="index-text"><%= __('Compared to general search engines, information in Agriply are consolidated from different sources. These are reviewed and validated by other users using the platform.') %></h2>
      <h2 class="index-text"><%= __('Information are direct to the point and will save you time to validate answers and check effectiveness as it comes from people who already hase experience or know your question.') %></h2>
    </div>
  </div>
  <br />
  <div class="spacer"></div>
</div>

<%- partial('partials/footer') %>
