<%- partial('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
      <%if (keyword || tag) { %>
        <h2 class="txt-1"><%= __('Searching for') %> <%if (keyword) { %> keyword "<%= keyword %>" <% } else { %> tag "<%= tag %>" <% } %></h2>
      <% } else { %>
        <h2 class="txt-1"><%= __('Browsing all questions') %>..</h2>
      <% } %>
      </center>
      <form role="form" action="/question/browse" id="searchform" method="GET" class="form-style">
        <div class="input-group">
          <input type="text" class="form-control input-1 margin-tb-sm" name="keyword" placeholder="<%= __('Search for') %>...">
          <span class="input-group-btn">
            <button class="btn btn-1 margin-tb-sm search" type="submit"><%= __('SEARCH') %></button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <% if( questions.length === 0 ) { %>
    <div class="row">
      <div class="error"><%= __('Oops, sorry no entries to display') %>.
      <br>
      <a class="btn btn-lg btn-1 margin-t-sm" href="/question"><%= __('Add this question') %></a>
      </div>
      
    </div>
  <% } else { %>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div id="trending-tags">
          <% for(var i in tags) { %>
          <a href="/question/browse?tag=<%= tags[i] %>"><span class="label label-lg"><%= tags[i] %></span></a>
          <% } %>
        </div>
      </div>
    </div>
    <% for (var i in questions) { %>
      <div class="row margin-t-sm question-entry">
        <div class="col-md-2 col-xs-4 vdiv">
          <div class="user">
            <p class="number"><%= questions[i].votes %> <span class="nhidden">votes</span></p>
          </div>
        </div>
        <div class="col-md-10 col-xs-8 main-text">
          <a href="/question/<%= questions[i].id %>" class="question-title"><%= questions[i].title %></a>
          <br>
          <p><i><%= __('Asked by') %>
          <%if (questions[i].user.userLevel < 3) { %>
          <a href="/user/<%= questions[i].user.id %>"><%= questions[i].user.username %> (<%= questions[i].user.occupation %>)</a>
          <% } else { %>
          <%= questions[i].user.username %>
          <% } %>
          <%= questions[i].createdAt %></i></p>
        </div>
      </div>
      <div class="row margin-b-sm">
        <div class="col-md-2 col-xs-4 ans-count">
          <% if(questions[i].answerCount === 0) { %>
            <p class="txt-1 center padding-sm error-txt"><%= __('No Answers') %></p>
          <% } else if (questions[i].answerCount === 1) { %>
            <p class="txt-1 center padding-sm success-txt">1 <%= __('answer') %></p>
          <% } else { %>
            <p class="txt-1 center padding-sm success-txt"><%= questions[i].answerCount %> <%= __('answers') %></p>
          <% } %>
        </div>
        <div class="col-md-10 col-xs-8 padding-sm taglist">
          <% for (var y in questions[i].tags ) { %>
            <a href="/question/browse?tag=<%= questions[i].tags[y] %>"><span class="qtag label label-md"><%= questions[i].tags[y] %></span></a>
          <% } %>
        </div>
      </div>
    <% } %>
  <% } %>
<%if (nav.prev || nav.next) { %>
  <div class="page-nav">
    <%if (nav.prev) { %>
      <a class="nav-control" href="/question/browse<%= nav.prevStr %>">&lt; <%= __('Previous') %></a>
    <% } else { %>
      <a class="disabled nav-control" href="#">&lt; <%= __('Previous') %></a>
    <% } %>
    <%if (nav.next) { %>
      <a class="nav-control" href="/question/browse<%= nav.nextStr %>"><%= __('Next') %> &gt;</a>
    <% } else { %>
      <a class="disabled nav-control" href="#"><%= __('Next') %> &gt;</a>
    <% } %>
  </div>
  <div class="spacer"></div>
<% } %>
</div>

<%- partial('partials/footer') %>
