<%- partial('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%if (typeof status !== 'undefined' && status === 'success') { %>
      <div class="success-wide">You have successfully updated your profile!</div>
      <% } else { %>
      <%if (typeof status !== 'undefined' && status === 'error') { %>
      <div class="error-wide"><%= error %></div>
      <% } %>
      <form role="form" action="/user/update" method="POST" class="form-style">        
        <center>
          <h1 class="txt-1 margin-b">Edit your profile</h1>
        </center>
        
        <div class="form-group">
          <label for="firstName" class="txt-1 margin-tb-xs input-txt">First Name</label>
          <input type="text" class="form-control input-1 margin-b-sm" id="firstName" placeholder="e.g. Juan" name="firstName"
          <% if(user.firstName){ %> value="<%= user.firstName %>" <% } %>
          >
        </div>
        <div class="form-group">
          <label for="lastName" class="txt-1 margin-tb-xs input-txt">Last Name</label>
          <input type="text" class="form-control input-1 margin-b-sm" id="lastName" placeholder="e.g. dela Cruz" name="lastName"
          <% if(user.lastName){ %> value="<%= user.lastName %>" <% } %>
          >
        </div>
        <div class="form-group">
          <label for="occupation" class="txt-1 margin-tb-xs input-txt">Occupation</label>
          <input type="text" class="form-control input-1 margin-b-sm" id="occupation" placeholder="e.g. Farmer" name="occupation"
          <% if(user.occupation){ %> value="<%= user.occupation %>" <% } %>
          >
        </div>
        <div class="form-group">
          <label for="province" class="txt-1 margin-tb-xs input-txt">Province</label>
          <input type="text" class="form-control input-1 margin-b-sm" id="province" placeholder="e.g. La Union" name="province"
          <% if(user.province){ %> value="<%= user.province %>" <% } %>
          >
        </div>
        <div class="form-group">
          <label for="phone" class="txt-1 margin-tb-xs input-txt">Phone Number</label>
          <input type="text" class="form-control input-1 margin-b-sm" id="phone" placeholder="(format: 639xxxxxxxxx)" name="phone"
          <% if(user.phone){ %> value="<%= user.phone %>" <% } %>
          >
        </div>
        <div class="form-group">
          <label for="email" class="txt-1 margin-tb-xs input-txt">Email Address</label>
          <input type="text" class="form-control input-1 margin-b-sm" id="email" placeholder="e.g. juandelacruz@gmail.com" name="email"
          <% if(user.email){ %> value="<%= user.email %>" <% } %>
          >
        </div>
        <div class="form-group">
          <label for="password" class="txt-1 margin-tb-xs input-txt">Password</label>
          <input type="password" class="form-control input-1 margin-b-sm" id="password" placeholder="Password" name="password">
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="txt-1 margin-tb-xs input-txt">Confirm Password</label>
          <input type="password" class="form-control input-1 margin-b-sm" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword">
        </div>
        
        <div class="btn-group btn-group-justified margin-tb" role="group">
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-1 btn-padding btn-main">UPDATE PROFILE</button>
          </div>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>



