<%- partial('partials/header') %>

<div class="homepage-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading-text"><%= __('Your one-stop information source') %></h2>
        <h2 class="index-text"><%= __('For experts, local farmers and homemakers, and people passionate about agriculture and livelihood') %></h2>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-12">
        <a href="/user/preference?action=ask" class="btn-2 semi semi-up"><span><%= __("Ask") %></span</a>
        <a href="/user/preference?action=contribute" class="btn-2 semi semi-down"><span><%= __("Contribute") %></span></a>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 margin-t">
      <h2 class="sub-heading-text txt-1"><%= __('Got questions about agriculture but don\'t know who and where to ask?') %></h2>
      <h2 class="index-text"><%= __('We\'ve got you covered.') %></h2>
      <h2 class="index-text"><%= __('Agriply has the up-to-date relevant agricultural and livelihood information for you. Gathered and collected from field experts, enthusiasts and local farmers and homemakers, you don\'t have to look anywhere but here.') %></h2>
      
      <a class="btn btn-lg btn-2 btn-width margin-t-sm" href="/user/preference?action=ask"><%= __('We\'ll help you out') %></a>
    </div>
  </div>
  <br />
  <div class="spacer"></div>
</div>

<div class="color-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 margin-t">
        <h2 class="sub-heading-text"><%= __('Do you want to help a stranger today?') %></h2>
        <h2 class="index-text"><%= __('Contribute to the Agriply community by answering questions from our locals. Share your knowledge to make a difference, hone your abilities and help a worthy cause, all at the same time.') %></h2>
        
        <a class="btn btn-lg btn-3 btn-width margin-t-sm" href="/user/preference?action=contribute"><%= __('Give back to your local community today') %></a>
      </div>
    </div>
    <br />
    <div class="spacer"></div>
  </div>
</div>

<%- partial('partials/footer') %>
