<%- partial('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%if (typeof status !== 'undefined' && status === 'success') { %>
      <div class="success-wide" role="alert">You have successfully logged in</div>
      <% } else { %>
      <%if (typeof status !== 'undefined' && status === 'error') { %>
      <div class="error-wide" role="alert"><%= error %></div>
      <% } %>
      <form role="form" action="/user/login" method="POST" class="form-style">
        <div class="btn-group btn-group-justified margin-b" role="group">
          <div class="btn-group" role="group">
            <a type="button" href="/user/signup" class="btn btn-1 btn-padding"><%= __('Sign-up') %></a>
          </div>
          <div class="btn-group" role="group">
            <a type="button" href="/user/login" class="btn btn-2 btn-padding"><%= __('Log-in') %></a>
          </div>
        </div>
        
        <center>
          <h1 class="txt-1 margin-b"><%= __('Welcome back') %>!</h1>
        </center>
        <i><p>*<%= __('Required') %></p></i>
        <div class="form-group">
          <input type="text" class="form-control input-1 margin-tb" id="username" placeholder="Username*" name="username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-1 margin-tb" id="password" placeholder="Password*" name="password">
        </div>
        
        <div class="btn-group btn-group-justified margin-b" role="group">
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-1 btn-padding btn-main"><%= __('GET STARTED') %></button>
          </div>
        </div>
        
      </form>
      <% } %>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
