<%- partial('partials/header') %>

<div class="row profile">
  <div class="container">
    <div class="row">
      <div class="col-md-2 xcenter">
        <div class="userProfile">
          <p class="username"><%= currentUser.username.substring(0,1).toUpperCase() %></p>
        </div>
      </div>
      <div class="col-md-4 xcenter">
        <h1><%= currentUser.username %><h1>
        <% if(currentUser.firstName) { %>
          <h3><%= currentUser.firstName %> <%= currentUser.lastName %><h3>
        <% } %>
        <h3><b>Province: </b><%= currentUser.province %><h3>
        <h3><b>Occupation: </b><%= currentUser.occupation %><h3>
        <%if (user.id === currentUser.id) { %>
          <a class="btn btn-lg btn-1" href="/user/update" role="button">Update Profile</a>
        <% } else { %>
          <a class="btn btn-lg btn-1" href="#" role="button">Request for contact info</a>
        <% } %>
      </div>
      <div class="col-md-4 xcenter">
        <h1><%- currentUser.questionVotes + currentUser.answerVotes %><h1>
          <h3>Total Points<h3>
        <h3><b>Question Points: </b><%= currentUser.questionVotes %><h3>
        <h3><b>Answer Points: </b><%= currentUser.answerVotes %><h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% if( questions.length === 0 ) { %>
    <div class="row">
      <div class="col-md-12 margin-t">
        <center>
        <%if (user.id === currentUser.id) { %>
          <h2 class="txt-2">You haven't asked a question yet.</h2>
        <% } else { %>
          <h2 class="txt-2"><%= currentUser.firstName ? currentUser.firstName : currentUser.username %> haven't asked a question yet.</h2>
        <% } %>
        <br>
        <a class="btn btn-lg btn-1 margin-b" href="/question">Ask a question TODAY &raquo;</a>
        </center>
      </div>
    </div>
  <% } else { %>
    <div class="row">
      <div class="col-md-12">
        <%if (user.id === currentUser.id) { %>
          <h2 class="txt-1">Your Questions</h2>
        <% } else { %>
          <h2 class="txt-1"><%= currentUser.firstName ? currentUser.firstName : currentUser.username %>'s Questions</h2>
        <% } %>
      </div>
    </div>
    <% for (var i in questions) { %>
      <div class="row margin-t-sm">
        <div class="col-md-2 col-xs-4 vdiv">
          <div class="user">
            <p class="number"><%= questions[i].votes %></p>
          </div>
        </div>
        <div class="col-md-10 col-xs-8 main-text">
          <a href="/question/<%= questions[i].id %>" class="question-title"><%= questions[i].title %></a>
          <br>
          <p><i>Asked <%= questions[i].createdAt %></i></p>
        </div>
      </div>
      <div class="row margin-b-sm">
        <div class="col-md-2 col-xs-4 ans-count">
          <% if(questions[i].answerCount === 0) { %>
            <p class="txt-1 center padding-sm error-txt"><%= __('No Answers') %></p>
          <% } else if (questions[i].answerCount === 1) { %>
            <p class="txt-1 center padding-sm success-txt">1 answer</p>
          <% } else { %>
            <p class="txt-1 center padding-sm success-txt"><%= questions[i].answerCount %> answers</p>
          <% } %>
        </div>
        <div class="col-md-10 col-xs-8 padding-sm taglist">
          <% for (var y in questions[i].tags ) { %>
            <a href="/question/browse?tag=<%= questions[i].tags[y] %>"><span class="label label-md"><%= questions[i].tags[y] %></span></a>
          <% } %>
        </div>
      </div>
    <% } %>
  <% } %>
  
</div>
<%- partial('partials/footer') %>
