<%- partial('partials/header') %>

<div class="container">
  <div class="spacer">
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-4 votearea">
      <div class="number">
        <p><%= question.votes %> <span class="nhidden">votes</span></p>
      </div>
      <div class="vote-control">
        <a href="/question/upvote?id=<%= question.id %>" class="vote-btn upvote<%if (question.votedValue > 0) { %> voted<% } %>"><strong>&plus;</strong></a>
        <a href="/question/downvote?id=<%= question.id %>" class="vote-btn downvote<%if (question.votedValue < 0) { %> voted<% } %>"><strong>&minus;</strong></a>
      </div>
      <%if (!question.reported && question.user.id !== user.id) { %>
        <div class="report-area">
          <a href="/question/report?id=<%= question.id %>" class="report-btn"><%= __('Report') %></a>  
        </div>
      <% } %>
    </div>

    <div class="col-md-10 col-xs-8">
      <p class="question-title"><%= question.title %></p>
      <p class="question-subtitle 
      <% if(question.reported) { %>
        error-txt"><%= __('This question is flagged as hidden.') %>
      <% } else { %>
        "><%= question.content %>
      <% } %>
      </p>
      <div class="spacer"></div>
      <p><i><%= __('Asked by') %>
      <%if (question.user.userLevel < 3) { %>
      <a href="/user/<%= question.user.id %>"><%= question.user.username %> (<%= question.user.occupation %>)</a>
      <% } else { %>
      <%= question.user.username %>
      <% } %>
      <%= question.createdAt %></i></p>
      <div class="spacer"></div>
      <div class="taglist">
      <% for (var y in question.tags ) { %>
      <a href="/question/browse?tag=<%= question.tags[y] %>"><span class="label label-md"><%= question.tags[y] %></span></a>
      <% } %>
      </div>
    </div>
  </div>

  <%if(!hasAnswered) { %>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <form role="form" action="/answer/post" method="POST" class="form-style">
          <input type="hidden" name="question" value="<%= question.id %>" />
          <div class="form-group">
            <textarea class="form-control input-1 margin-b-sm txtarea-1" rows="6" id="content" name="content" placeholder="<%= __('Place your answer here') %>"></textarea>
          </div>  
          <button type="submit" class="btn btn-1 btn-padding btn-main"><%= __('SUBMIT ANSWER') %></button>
        </form>
      </div>
    </div>
  <% } %>
  
  <hr />
  <div class="row">
    <div class="col-md-12">
      <%if (answers.length === 0) { %>
        <p class="notice"><%= __('No answers yet') %>.</p> 
      <% } else { %>
        <h2><%= __('Answers') %></h2>
        <div class="answer-list">
          <% for (var i in answers) { %>
            <div class="spacer"></div>
            <div class="row">
              <div id="answer-<%= answers[i].id %>" class="answer">
                <div class="col-md-2 col-xs-4 votearea">
                  <div class="number">
                    <p><%= answers[i].votes %> <span class="nhidden">votes</span></p>
                  </div>
                  <div class="vote-control">
                    <a href="/answer/upvote?id=<%= answers[i].id %>" class="vote-btn upvote<%if (answers[i].votedValue > 0) { %> voted<% } %>"><strong>&plus;</strong></a>
                    <a href="/answer/downvote?id=<%= answers[i].id %>" class="vote-btn downvote<%if (answers[i].votedValue < 0) { %> voted<% } %>"><strong>&minus;</strong></a>
                  </div>
                  <%if (!answers[i].reported && answers[i].user.id !== user.id) { %>
                    <div class="report-area">
                      <a href="/answer/report?id=<%= answers[i].id %>" class="report-btn"><%= __('Report') %></a>  
                    </div>
                  <% } %>
                </div>

                <div class="col-md-10 col-xs-8">
                  <p class="answer-content
                  <% if(answers[i].reported) { %>
                    error-txt"><%= __('This answer is flagged as hidden.') %>
                  <% } else { %>
                    "><%= answers[i].content %>
                  <% } %>
                  </p>                  
                  <p><i><%= __('Answered by') %>
                  <%if (answers[i].user.userLevel < 3) { %>
                  <a href="/user/<%= answers[i].user.id %>"><%= answers[i].user.username %> (<%= answers[i].user.occupation %>)</a>
                  <% } else { %>
                  <%= answers[i].user.username %>
                  <% } %>
                  <%= answers[i].createdAt %></i></p>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>

  <div class="spacer"></div>
</div>

<%- partial('partials/footer') %>
