<%- partial('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%if (typeof status !== 'undefined' && status === 'error') { %>
      <div class="error-wide"><%= error %></div>
      <% } %>
      <form role="form" action="/question/post" method="POST" class="form-style">        
        <center>
          <h1 class="txt-1 margin-b"><%= __('Ask a question') %></h1>
        </center>
        <i><p>*<%= __('Required') %></p></i>
        <div class="form-group">
          <label for="title" class="txt-1 margin-tb-xs input-txt"><%= __('Title') %>*</label>
          <input type="text" class="form-control input-1 margin-b-sm" id="title" placeholder="<%= __('Title of the Question') %>" name="title">
        </div>
        <div class="form-group">
          <label for="content" class="txt-1 margin-tb-xs input-txt"><%= __('Content') %>*</label>
          <textarea class="form-control input-1 margin-b-sm txtarea-1" rows="6" id="content" name="content" placeholder="<%= __('Detailed information about your question') %>"></textarea>
        </div>
        <div class="form-group">
          <label for="tags" class="txt-1 margin-tb-xs input-txt"><%= __('Tags/Categories') %>*</label>
          <p><%= __('Suggested tags: Agriculture, Farming, Fishery, Arts, Eco-tourism') %></p>
          <input type="text" class="form-control input-1 margin-b" id="tags" name="tags" placeholder="<%= __('Tags/Categories associated, comma-separated') %>">
        </div>
        <%if (user.userLevel < 3) { %>
        <div class="form-group">
          <label for="tags" class="txt-1 margin-b-xs input-txt"><%= __('Notifications') %></label>
          <p><%= __('Receive SMS alerts when someone answers this question.') %>
            <a href='/user/<%if (user.userLevel < 3) { %><%= user.id %><% } else { %>login<% } %>'><%= __('Make sure you have updated your profile for your mobile nunmber.') %></a>
            </p>
          <div class="radio">
            <label><input type="radio" name="alerts" value="on"><%= __('Yes, I want to receive SMS alerts') %></label>
          </div>
          <div class="radio">
            <label><input type="radio" name="alerts" value="off"><%= __('No, I don\'t want to receive SMS alerts') %></label>
          </div>
        </div>
        <% } %>
        <div class="btn-group btn-group-justified margin-tb" role="group">
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-1 btn-padding btn-main"><%= __('SUBMIT QUESTION') %></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
