<%- partial('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <%if( action === 'Ask' ){ %>
          <%if( user.confirmAnon ){ %>
            <a class="btn btn-lg btn-1 btn-userlanding btn-width" href="/question"><%= __("Continue as anonymous") %></a>
          <% } else { %>
            <a class="btn btn-lg btn-1 btn-userlanding btn-width" href="/question?landing=1"><%= __("Ask anonymously") %></a>
          <% } %>
        <% } else { %>
          <%if( user.confirmAnon ){ %>
            <a class="btn btn-lg btn-1 btn-userlanding btn-width" href="/question/browse"><%= __("Continue as anonymous") %></a>
          <% } else { %>
            <a class="btn btn-lg btn-1 btn-userlanding btn-width" href="/question/browse?landing=1"><%= __("Contribute anonymously") %></a>
          <% } %>
        <% } %>
        <h3 class="txt-2"><%= __("or") %></h3>
        <a class="btn btn-lg btn-1 btn-userlanding btn-width" href="/user/signup"><%= __("Sign-up/Log-in") %></a>
      </center>
    </div>
  </div>
  <div class="spacer"></div>
</div>

<%- partial('partials/footer') %>
