* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: inherit;
  background-color: #418283;
  color: white;
  padding-top: 1.5em;
  font-size:1em;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
  background-color: white !important;
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

a:hover {
  text-decoration: none;
}

.navbar-static-top {
  margin-bottom: 40px;
}

.navbar {
  background-color: #418283;
  height: 6em;
  padding-top: 1.2em;
}

.navbar-nav>li>a:hover {
  color: black;
}

.navbar a {
  color: white;
}

.navbar-brand {
  font-size: 3em;
  float: left !important;
  display: block;
  width: inherit;
  margin-left: 20px;
  text-align: left;
}

.jumbotron {
  background-color: #F4F4F4;
}

.margin-b {
  margin-bottom: 40px;
}

.margin-t-inverse {
  margin-top: -40px;
}

.margin-t {
  margin-top: 40px;
}

.margin-t-sm {
  margin-top: 20px;
}

.margin-b-sm {
  margin-bottom: 20px;
}

.margin-tb {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-tb-sm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-tb-xs {
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-1 {
  border-top: 4px solid #418283;
}

.txt-1 {
  color : #418283;
}

.txt-2 {
  color: #72BBA3;
}

.btn-1 {
  color: white;
  background-color: #72BBA3;
}

a.btn-1  {
  color: white !important;
  font-weight: 100 !important;
}

.btn-1:hover {
  background-color: #418283;
}

.btn-3 {
  color: #72BBA3;
  background-color: white;
}

a.btn-3  {
  color: #72BBA3 !important;
  font-weight: 100 !important;
}

.btn-3:hover {
  background-color: #418283;
}

.btn-userlanding {
  width: 15em;
}

.btn-width {
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

.btn-padding {
  padding: 1em;
}

.btn-2 {
  color: white;
  background-color: #418283;
}

.btn-2:hover {
  background-color: #72BBA3;
}

.label {
  font-size: 1em;
  line-height: 2.2em;
  background-color: #418283;
  color: white;
}

#trending-tags {
  float: right;
  margin-bottom: 1em;
  margin-top: 2em;
}

.label-lg {
  font-size: 120%;
  background-color: #72BBA3;
}

.label-md {
  font-size: 100%;
}

.padding-sm {
  padding-top: 1em;
  padding-bottom: 1em;
}

.number {
  text-align: center;
  font-size: 3em;
  height: 2em;
  line-height: 2em;
  width: 2em;
  background-color: #418283;
  color: white;
  border-radius: 50% !important;
  margin: auto;
}

.vote-control {
  margin: 0.2em auto;
  text-align: center;
}

.vote-control .glyphicon {
  font-size: 2em !important;
  display: inline-block;
}

.spacer {
  margin-top: 40px;
}

.notice {
  font-size: 2em;
  text-align: center;
}

.vote-btn {
  font-size: 4em;
  color: #333 !important;
  opacity: 0.2 !important;
  filter: alpha(opacity=20) !important;
}

.vote-btn:hover, .voted {
  color: #418283 !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.title {
  text-align: center;
  font-size: 1em;
  margin: 0.5em;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.question-title {
  font-size: 1.7em;
  font-weight: 500;
  color: black;
}

.question-subtitle, .answer-content {
  font-size: 1.2em;
  word-wrap: break-word;
  color: black;
}


.question {
  background-color: white !important;
  padding: 1.8em 0em;
  margin: 1em 0em;
}

.profile {
  background-color: #B4E1A2;
  margin-top: -3em;
  padding: 2em;
}

.userProfile {
  text-align: center;
  height: 6em;
  width: 6em;
  margin: auto;
  padding: 6em;
  background-color: #418283;
  color: white;
  border-radius: 50% !important;
}

.username {
  margin-left: -.3em;
  font-size: 5em;
  margin-top: -0.7em;
}

.questionsProfile {
  margin: 2em 0em;
}

.center {
  float: center;
  text-align: center;
}

.index-text {
  margin: 2em auto;
  text-align: center;
  line-height: 1.7em;
  font-size: 1.5em;
}

.heading-text {
  margin: 2em auto;
  text-align: center;
  line-height: 1.3em;
  font-size: 3em;
}

.sub-heading-text {
  margin: 2em auto;
  text-align: center;
  line-height: 1.3em;
  font-size: 2em;
}

.semi {
  text-transform: lowercase;
  text-align: center;
  display: block;
  font-size: 2em;
  width: 8em;
  height: 4em;
  margin: auto;
  text-decoration: none;
}

.semi span {
  line-height: 4em;
}

.xcenter {
  float: center;
  text-align: center;
}

.homepage-bg {
  margin-top: -40px;
  padding-top: 20px;
  background: url(/images/bg.png) no-repeat 30% 50%;
  background-size: initial; 
}

.semi-up {
  margin-bottom: 0.1em;
  border-top-left-radius: 4em !important;
  border-top-right-radius: 4em !important;
}

.semi-up span {
  position: relative;
  top: 0.8em;
}

.semi-down span {
  position: relative;
  top: -0.8em;
}

.semi-down {
  margin-top: 0.1em;
  border-bottom-left-radius: 4em !important;
  border-bottom-right-radius: 4em !important;
}

.input-1 {
  height: 3.5em !important;
  border: 3px solid #72BBA3 !important;
  color: #418283 !important;
  font-weight: 500;
}

.input-2 {
  height: 3.5em !important;
  border: 3px solid #418283 !important;
  color: #72BBA3 !important;
  font-weight: 500;
}

.input-txt {
  font-size: 1.3em;
  font-weight: 200;
}

.btn-main {
  letter-spacing: 0.4em;
  font-size: 1.1em;
}

.error {
  border: 2px solid #D74F33 !important;
  padding: 1em;
  margin: 2em 0.8em;
  color: #D74F33;
  background-color: white;
  font-size: 1.5em;
}

.error-txt {
  color: #D74F33;
}

.error-wide {
  border: 2px solid #D74F33 !important;
  padding: 1em;
  margin: 2em 0em;
  color: #D74F33;
  background-color: white;
  font-size: 1.5em;
}

.success {
  border: 2px solid #418283 !important;
  padding: 1em;
  margin: 2em 0.8em;
  color: #418283;
  background-color: white;
  font-size: 1.5em;
}

.success-wide {
  border: 2px solid #418283 !important;
  padding: 1em;
  margin: 2em 0em;
  color: #418283;
  background-color: white;
  font-size: 1.5em;
}

.search {
  height: 3.5em;
}

.link {
  color: white;
  font-weight: 300;
}

.link:hover {
  color: black;
}

.txtarea-1 {
  height: auto !important;
}

.question-divider {
  border-top: 3px solid #418283 !important;
}

.error-txt {
  color: #D74F33;
  font-weight: 300;
}

.success-txt {
  color: #B4E1A2;
  font-weight: 300;
}

.color-bg {
  background-color: #72BBA3;
  color: white;
}

.report-area {
  text-align: center;
}

.report-btn {
  color: #800;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.report-btn:hover {
  color: #800;
}

.page-nav {
  width: 300px;
  margin: 10px auto;
  text-align: center;
}

.nav-control {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.4em;
}

.disabled {
  color: #aaa;
  pointer-events: none;
  cursor: default;
}

.in-img {
  display: inline-block; 
  float: left;
}

.logostrong {
  color: #b0dadb;
  font-weight: 500;
}

.browse-button {
  display: inline-block;
  float: right;
  width: 32px;
  height: 32px;
  margin: 10px 20px;
  background-image: url('../images/browse.png');
}

@media screen and (min-width: 768px) {
  .semi {
    font-size: 4em;
  }

  .index-text {
    width: 70%;
    font-size: 2em;
  }
  
  .sub-heading-text {
    font-size: 3em;
  }

  footer {
    height: 60px;
  }

  .xcenter {
    text-align: left;
  }
  
  .homepage-bg {
    background: url(/images/bg.png) no-repeat 0% 50%;
    background-size: 100%;
  }

  .question-title {
    font-size: 2.3em;
  }

  .question-subtitle, .answer-content {
    font-size: 1.6em;
  }

  .browse-button {
    display: none;
  }

  .navbar-brand {
    float: none !important;
    text-align: center;
  }
}

.nhidden {
  display: none;
}
