.taglist, .ans-count, #trending-tags, .vdiv, .userProfile {
  display: none;
}

.number {
  text-align: left;
  color: #333;
  background: none;
  margin: inherit;
}

.main-text {
  width: 100%;
}

.nhidden {
  display: block;
}

.votearea {
  text-align: left;
}

.semi {
  width: 4em;
  height: 1em;
  margin: 0 auto;
}

.semi-down span {
  position: relative;
  top: 0em;
}

.semi-up span {
  position: relative;
  top: 0em;
}
